@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
body {
  background-color: #353541;
  font-family: 'Teko', 'Roboto', sans-serif;
  font-size: x-large;

}

#tagia {
  color: white;
}

#textie {
  color: #9dc3cf;
}

#smalltxt {
  font-size: smaller;
}

#text-link {
  color: white;
  text-decoration: none;
}

#text-link:hover {
  text-decoration: none;
  color: #fe5151;
}

/*selected text color change*/

p::selection { color: #fe5151; }
.project-header::selection { color: #fe5151; }
.name-header::selection { color: #fe5151; }
#textie::selection { color: #fe5151; }
#smalltxt::selection { color: #fe5151; }
li::selection { color: #fe5151; }

p::selection { background: none; }
.project-header::selection { background: none; }
.name-header::selection { background: none; }
#textie::selection { background: none; }
#smalltxt::selection { background: none; }
li::selection { background: none; }

p::-moz-selection { color: #fe5151; }
.name-header::-moz-selection { color: #fe5151; }
.project-header::-moz-selection { color: #fe5151; }
#textie::-moz-selection { color: #fe5151; }
#smalltxt::-moz-selection { color: #fe5151; }
li::-moz-selection { color: #fe5151; }

p::-moz-selection { background: none; }
.name-header::-moz-selection { background: none; }
.project-header::-moz-selection { color: none; }
#textie::-moz-selection { background: none; }
#smalltxt::-moz-selection { background: none; }
li::-moz-selection { background: none; }


.pic-center {
  filter: brightness(90%) drop-shadow(0px 4px 8px black);
  text-align: center;
}

.text-center {
  text-align: center;
  color: #2A2B31;
  font-weight: bold;
  letter-spacing: 1px;
  /*font-family: "Roboto";*/
}

.watermark-1 {
  position:absolute;
  top:2px;
  left:1px;
  color:white;
  font-weight:100;
  font-size:10px;
}
.watermark-2 {
  position:absolute;
  bottom:-5px;
  right:5px;
  color:white;
  font-weight:100;
  font-size:10px;

}

.navbar {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  transform: translate(-50%, -50%);
  position: absolute;
  margin-top: 100px;
  top: 65%;
  left: 50%;
}

.navbar li {
  float: left;

}

.navbar li a {
  display: block;
  color: white;
  text-shadow: 1px 1px 3px #368f8b;
  padding: 5px;
  margin: 20px 30px 0 0;
  width: 80px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .p-body {
    margin-left: 4px;
    margin-right: 4px;
  }
}


@media screen and (max-height:700px) {
  .middle-row {
    top: 20%;
  }
  .middle-row img {
    width: 200px;
    height: 200px;
  }
  .social-media img {
    width: 40px;
    height: 40px;
  }

  .p-body {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media screen and (max-width:650px) {
  .social-media img {
    width: 30px;
    height: 30px;
  }
  .p-body {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media screen and (max-width: 906px) {
  .navbar li a {
    width: 60px;
    padding: px;
    font-size: 14px;
  }

  .p-body {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media screen and (max-width: 749px) {
  .navbar li {
    float: none;
  }
  .navbar li a {
    width: 100px
  }
  .middle-row {
    top: 20%;
  }
  .navbar-fixed {
    visibility: hidden;
  }

  .p-body {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.navbar li a:hover {
  color: transparent;
  text-shadow: -4px 4px hsla(0, 0%, 90%, 0.4), -3px 3px hsla(0, 0%, 60%, 0.2),
    -2px 2px hsla(0, 0%, 70%, 0.2), -1px 1px hsla(0, 0%, 70%, 0.2),
    0px 0px hsla(0, 0%, 50%, 0.5), 1px -1px hsla(0, 0%, 30%, 0.6),
    2px -2px hsla(0, 0%, 30%, 0.7), 3px -3px hsla(0, 0%, 32%, 0.8),
    4px -4px hsla(0, 0%, 30%, 0.9), 5px -5px hsla(0, 0%, 30%, 1);
}


/*
.navbar-fixed {
  top:-6.5%;
  left:50%;
  z-index: 100;
  position: fixed;

}

.navbar-fixed li {
  background-color: #fefefe;
}
.navbar-fixed li a {
  color:black;
  height:30px;
  border-radius:5px;
} */

.box-1 {
  filter: brightness(90%) drop-shadow(2px 4px 42px #1D2403);
  opacity: 0.8;
  margin: 0px;
  width: 100%;
  min-height: 800px;
  max-height: 1100px;
  background: url(images/banner.jpg) no-repeat fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.middle-row {
  transform: translate(-50%, -50%);
  position: absolute;
  margin-top: 60px;
  top: 25%;
  left: 50%;
}

@media screen and (min-width:750px) {
  .middle-row {
    top: 35%;
  }
}

@media screen and (min-width: 2500px) {
  .middle-row {
    top: 20%;
  }
}

.middle-row img {
  border-radius: 100%;
  max-width: 255px;
  max-height: 255px;
}

.name {
  margin: 20px 0 0 0;
}

.name p {
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.social-media {
  top: 25px;
}

.social-media img:hover{
  background-color: #fe5151;
  border-radius: 80px;
}

.footer-social-media img:hover {
  background-color: #fe5151;
  border-radius: 80px;
}

.social-media img {
  max-width: 50px;
  max-height: 50px;
  margin: 0 10px 0 10px;
}

#about-catcher {
  margin-top: 1px;
}

.box-2 {
  margin-top: 30px;
}

.name-header {
  filter: drop-shadow(0px 4px 8px black);
  text-align: center;
  color: white !important;
  font-weight: 800;
  font-size: 50px;
}

@media screen and (min-width:1200px) {
  .name-header {
    margin-top: 40px;
  }
  .p-body {
    padding-right: 50px;
  }
  #about-catcher {
    margin-bottom: 100px;
  }
  #about-tail {
    margin-top: 80px;
  }
}

.tag {
  filter: drop-shadow(0px 4px 8px black);
  text-align: center;
  color: white !important;
  font-size: 30px;
  margin-top: -10px;
}

.p-body {
  font-size: 2.4vw;
  letter-spacing: 0.4px;
  margin-top: 25px;
  margin-left: 42px;
  margin-right: 42px;
  font-family: 'Roboto', sans-serif;
}

.box-3 {
  margin-top: 20px;
  background-color: #353541;
}

.project-header {
  filter: drop-shadow(0px 4px 8px black);
  text-align: center;
  color: white !important;
  font-weight: 800;
  font-size: 50px;
  margin: 40px 0 50px 0;
}

.proj-first div,
.proj-second div {
  /*display: flex;
  align-items: space-between;*/
  margin-bottom: 30px;
}

.proj-first-row,
.proj-second-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.item {
  width: 450px;
  height: 285px;
  margin: 9px;
  border-radius: 6%;
  transform-style: preserve-3d;
  transition-delay: 0.5s;
  overflow: hidden;
  position: relative;
}

.item:hover {
  /*transform: rotateY(180deg);*/
}

.front {
  transform: rotateY(0deg);
}

.front:hover {
  opacity: 0;
}

.back {
  transform: rotateY(360deg);
  opacity: 0;
  backface-visibility: visible;
  background-color: black;
  color: #9dc3cf;
}

.back:hover {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#emoji {
  text-align: center;
}

.front, .back, .project-pic {
  transition-delay: 0.15s;
  transition-delay: 0.15s;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.footer {
  width: 100%;
  color: #fefefe;
}

.box-4 {
  width: 100%;
  background-color: #2A2B31;
  padding-top: 30px;
  padding-bottom: 20px;
}

.contact-email {
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width:992px) {
  .contact-email {
    padding-left: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}

/*
.row {
  display:flex;
  align-items: center;
}
*/

.email-link {
  margin-top: -15px;
  font-weight: 300;
}

.footer-social-media {
  padding-bottom: 20px;
}

.box-4 img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

.bottom-footer {
  background-color: #ffffff;
  padding-top: 9px;
  padding-bottom: 1px;
}

#foot-info:hover {
  color: #fe5151;
}

.caption {
  background-color: #111;
  color: #f1f1f1;
  position: relative;
  margin: 0;
  padding: 0;
  top: -22px;
}

.project-pic {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.project-pic-uc {
  width: 100%;
  height: auto;
  object-fit: fill;
  opacity: 0.5;
}

ul {
  letter-spacing: 3px;
  color: white;
}

#sklogos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Teko', 'Roboto', sans-serif !important;
  font-size: 25px;
}

#lista, #logia {
  list-style-type:none;
  display: initial;
}

#cv {
  margin-bottom: -15px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
}

#cv:hover {
  text-decoration: none;
  color: #fe5151;
}

.logo {
  width: 21px;
  height: auto;
}

#logo img {
  border-radius: 80px;
  /*filter: blur(1px) grayscale(0.4);*/
}

#logo img:hover {
  background-color: black;
  filter: invert(100%);
  border-radius: 80px;
}

.btn-outline {
  text-decoration: none;
  text-align: center;
  padding: 10px;
  background-color: black;
  color: #9dc3cf;
  font-family: 'Teko', 'Roboto', sans-serif;
  border: 1px solid #00ffff;
  border-radius: 6px;
}

.btn-outline:hover {
  background-color: #00ffff;
  color: black;
}
