body {
  background-color: #010302;
  font-family: 'Baloo Bhaina 2', cursive;
  color: white;
  font-size: 24px;
  line-height: 26px;
}

a {
  text-align: center;
  color: lime;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: underline overline;
}

.container {
  width: 963px;
  margin: 0 auto;
}

.img-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 52%;
  }

.card {
  background: black;
  padding: 30px;
  border: 1px solid lightgrey;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5)
}

.img-circle:hover {
  opacity: 1.0;
}

.btn-blue {
  background-color: #040805;
  padding: 10px 25px;
  border-radius: 9px;
  text-align: center;
}

.btn-blue:hover {
  background-color: black;
}

body:hover {
  background-color: #040805;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
 .text-center {
  text-align: center;
 }

.card h1, h2 {
  font-size: 32px;
  line-height: 36px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

div .links-to-center {
  text-align: center;
}

/*responsive media css rules?*/
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
